

  <section>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div *ngFor="let item of checkboxList; let i=index">
        <input type="checkbox" formArrayName="selectedValues" [value]="item.value" (change)="onCheckboxChange($event)" 
        />
        {{ item.name}}
      </div>
    </form>
  </section>
  
  <h1>MUI CHECKBOX</h1>

  <section>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div *ngFor="let item of checkboxList; let i=index">
        <mat-checkbox  formArrayName="selectedValues"  (change)="onCheckboxChange($event)">
        {{ item.name}}
      </mat-checkbox>
      </div>
     
    </form>
  </section>


 
 
