
::ng-deep .datepicker {
    background:rgb(252, 252, 252);
}
  
 ::ng-deep .datepicker .mat-calendar-body-selected{
    border-color:darkblue;
    background-color: yellow;
    color:rgb(12, 9, 9);
  }